<div class="footer">
    <div class="footer-content">
        <a href="{{site.url}}"><img class="footer-logo" src="{{'/assets/images/aims-long-white.png' | prepend: site.baseurl }}" alt="Logo of {{ site.title }}"/></a>
        <div class="vspace-sm-fixed"></div>
        <div class="vspace-sm-fixed"></div>
        <div>
            <a href="https://twitter.com/aimsatgt" target="_blank"><i class="fa fa-twitter"></i></a>
            &nbsp;<a href="https://www.youtube.com/channel/UCikaqIuKFVCtmPKMdpVaMlw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>