<div class="footer">
    <div class="footer-content">
        <img class="footer-logo" src="../assets//images/AIMS-long-white.png" alt="Logo">
        <div class="vspace-sm-fixed"></div>
        <div class="vspace-sm-fixed"></div>
        <div>
            <a href="https://twitter.com/aimsatgt" target="_blank"><i class="fa fa-twitter"></i></a>
            &nbsp;<a href="https://www.youtube.com/channel/UCikaqIuKFVCtmPKMdpVaMlw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>